$light-primary-contrast: white;

$light-theme-primary-color: (
  50 : #e4effe,
  100 : #bcd6fe,
  200 : #8fbbfd,
  300 : #62a0fc,
  400 : #418bfb,
  500 : #1f77fa,
  600 : #1b6ff9,
  700 : #1764f9,
  800 : #125af8,
  900 : #0a47f6,
  A100 : #ffffff,
  A200 : #ecf0ff,
  A400 : #b9c8ff,
  A700 : #a0b4ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
$light-theme-accent-color: (
  50 : #fbfdff,
  100 : #f5f9ff,
  200 : #eef5ff,
  300 : #e7f1fe,
  400 : #e2eefe,
  500 : #ddebfe,
  600 : #d9e9fe,
  700 : #d4e5fe,
  800 : #cfe2fe,
  900 : #c7ddfd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
